BasedOnStyle: LLVM
UseTab: Never 
IndentWidth: 4 
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
IndentCaseBlocks: true
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
DerivePointerAlignment: true
PointerAlignment: Left
SortIncludes: true
AlignArrayOfStructures: Left